#board {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}
  
#toc {
    padding: 10px;
    top: 4rem;
    background-color: var(--board-bg-color);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}